
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.nav {
    background-color: #333;
    text-align: center;
    padding: 15px 0;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline;
    margin: 0 20px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Background Image for Home Page */
body {
    background-image: url('0_ihTZPO4iffJ8n69_.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Welcome Message */
.welcome-message {
    text-align: center;
    margin-top: 20%;
    color: whitesmoke;
}

.welcome-message h1 {
    font-size: 48px;
}

.welcome-message p {
    font-size: 24px;
}

/* Form Container */
.form-container {
    text-align: center;
    margin-top: 10px;
}

.form-container h1 {
    margin-bottom: 10px;
}

form {
    display:inline-table;
    text-align: left;
}

label {
    color: white;
    font-size:large;
}
label, input {
    margin: 10px 0;
    display: block;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #575757;
}
span{
    color: white;
}
a{
    color: aqua;
}
